server:
  port: 8080

spring:
  datasource:
    # 请根据实际情况修改数据库连接信息
    url: jdbc:mysql://10.21.32.13:3306/DormManagement?useUnicode=true&characterEncoding=utf-8&useSSL=false&serverTimezone=Asia/Shanghai
    username: root
    password: 12345678
    driver-class-name: com.mysql.cj.jdbc.Driver

mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    map-underscore-to-camel-case: true
  global-config:
    db-config:
      logic-delete-field: deleted # 如果有逻辑删除可以配置
      id-type: input # 默认主键策略
